faiss-cpu
sentence-transformers[cpu]
google-generativeai
fastapi
uvicorn
pydantic

bcrypt
cryptography
python-jose
python-multipart
SQLAlchemy
passlib
python-dotenv

# Force CPU-only PyTorch to reduce size
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.8.0+cpu